:root {
  --light-mode-background: hsl(0, 0%, 98%);
}
.hidden {
  display: none !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
img {
  max-width: 100%;
}
html {
  width: 100%;
}
h1 {
  font-size: 16px;
}
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
}
main {
  padding: 1.5rem 1rem;
  background-color: var(--light-mode-background);
}
.theme {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.8rem;
}
.moon {
  width: 20px;
}
/* Cards */
.cards {
  display: grid;
  justify-content: center;
}
.card {
  width: 250px;
}

/* Inputs */
input {
  border: 0;
}
input:focus {
  outline: 0;
}
.search-form {
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: white;
  margin-bottom: 2rem;
}
.search-form__img {
  width: 20px;
}
.search-form__input {
  width: 100%;
}
.region-select {
  width: 200px;
  padding: 1rem 0.5rem;
}
.region-select__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.3rem;
  border-radius: 0.2rem;
  background-color: white;
  margin-bottom: 0.5rem;
}
.region-select__options {
  background-color: white;
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.2rem;
  position: absolute;
}
